<div id="<%= dom_id ramen_shop %>">
  <p>
    <strong>Name:</strong>
    <%= ramen_shop.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= ramen_shop.address %>
  </p>
  <p>経過時間: <span id="elapsed-time">00:00:00</span></p>
  <p>
    <button id="start">スタート</button>
    <button id="stop" disabled>ストップ</button>
    <button id="retire" disabled>リタイア</button>
  </p>
</div>
<%#= javascript_pack_tag 'timer' %>
